@model CA2_NiallHolmes_S00130770.Models.Movie

<div class="container">
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="lead">Add Movie</div>
        </div>

        <div class="panel-body">
    @using (Html.BeginForm()) 
    {
    @Html.ValidationSummary(true)
        
        <div class="row">
        <div class="form-group col-xs-4">
            @Html.LabelFor(model => model.MovieName)
             @Html.TextBoxFor(model => model.MovieName,new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MovieName)
        </div>

        <div class="form-group col-xs-4">
            @Html.LabelFor(model => model.Genre)
            @Html.DropDownListFor(model => model.Genre, Enum.GetNames(typeof(CA2_NiallHolmes_S00130770.Models.Genre)).Select(a => new SelectListItem { Text = a }),new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Genre)
        </div>  
</div>
        <div>
            <button class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus"></span>Create</button>
                <a class="btn btn-sm btn-info" href="@Url.Action("Index")"><span class="glyphicon glyphicon-home"></span>&nbsp;Back to List</a>
        </div>
    }
          
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(function () { // ready event
            toastr.success('Here you can add a movie');
        });

    </script>
}
